{% extends "base.html" %}
{% block custom_nav_bar_left %}
    {% include 'nav_bar_left_ssh.html' %}
{% endblock %}
{% block content %}
    <!-- 自定义操作按钮-->
    <div id="toolbar" class="form-inline">
        <div class="form-group bootstrap-select ">
            <select id="group_type" class="dropdown-menu-right selectpicker" data-live-search="true">
                <option value="" selected="selected">全部类型</option>
                <option value="black">黑名单</option>
                <option value="white">白名单</option>
            </select>
        </div>
        <div class="form-group ">
            {% if perms.auth.perm_ssh_perilous_cmd_group_edit %}
                <button id="btn_add" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加命令组
                </button>
            {% endif %}
        </div>
    </div>
    <!-- 列表的表格-->
    <div class="table-responsive">
        <table id="name-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>

    <!--添加模态框-->
    <div class="modal fade" id="addModal">
        <div class="modal-dialog" style="width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加命令组</h4>
                </div>
                <div class="modal-body">
                    <p hidden id="uperrorMsg" class="text-danger" style="color:red"></p>
                    <form id="addForm" class="form-horizontal  nice-validator n-yellow" novalidate="novalidate">
                        <div class="row">
                            <div class="form-group">
                                <label for="addname" class="col-sm-2 control-label">组名</label>
                                <div class="col-sm-8">
                                    <input id="addname" name="name" placeholder="组名" type="text"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addcomment" class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-8">
                                    <input id="addcomment" name="comment" placeholder="添加原因或用途！" type="text"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-2 control-label">
                                命令组类别<span class="red-fonts">*</span> </label>
                                <div class="col-sm-8">
                                    <div class="radio i-checks">
                                        <label> <input type="radio" checked value="white" name="group_type"
                                                       onclick="show(this)"> <i> 白名单 </i></label>
                                        <label> <input type="radio" value="black" name="group_type"
                                                       onclick="show(this)"> <i> 黑名单 </i></label>
                                    </div>
                                </div>
                            </div>
                            <div id="white" style="display:block;">
                                <div>
                                    <label for="" class="col-sm-2 control-label">可选命令<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-4">
                                        <div>
                                            <select id="white_cmd_all" name="white_cmd_all" multiple
                                                    class="form-control m-b" size="20" data-live-search="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <label for="" class="col-sm-1 control-label">白名单命令集<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-1">
                                    <div class="btn-group" style="margin-top: 12px;">
                                        <button type="button" class="btn btn-white"
                                                onclick="move('white_cmd_all', 'white_cmd')"><i
                                                class="fa fa-chevron-right"></i></button>
                                        <button type="button" class="btn btn-white"
                                                onclick="move('white_cmd', 'white_cmd_all')"><i
                                                class="fa fa-chevron-left"></i></button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div>
                                        <select id="white_cmd" name="white_cmd" class="form-control m-b"
                                                size="20" multiple data-live-search="true">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        
                            <div id="black" style="display:none;">
                                <div>
                                    <label for="" class="col-sm-2 control-label">可选命令<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-4">
                                        <div>
                                            <select id="black_cmd_all" name="black_cmd_all" multiple
                                                    class="form-control m-b" size="25" data-live-search="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <label for="" class="col-sm-1 control-label">高危命令集<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-1">
                                        <div class="btn-group" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-white"
                                                    onclick="move('black_cmd_all', 'perilous_cmd')"><i
                                                    class="fa fa-chevron-right"></i></button>
                                            <button type="button" class="btn btn-white"
                                                    onclick="move('perilous_cmd', 'black_cmd_all')"><i
                                                    class="fa fa-chevron-left"></i></button>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div>
                                            <select id="perilous_cmd" name="perilous_cmd" multiple
                                                    class="form-control m-b" size="10">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="" class="col-sm-1 control-label">敏感命令集<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-1">
                                        <div class="btn-group" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-white"
                                                    onclick="move('black_cmd_all', 'sensitive_cmd')">
                                                <i class="fa fa-chevron-right"></i></button>
                                            <button type="button" class="btn btn-white"
                                                    onclick="move('sensitive_cmd', 'black_cmd_all')">
                                                <i class="fa fa-chevron-left"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div>
                                            <select id="sensitive_cmd" name="sensitive_cmd" multiple
                                                    class="form-control m-b" size="10" data-live-search="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- black end -->
                        </div>

                        <div class="form-group">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="addBtn">确认</button>
                            </div>
                        </div> <!--button-->
                    </form> <!--form-->
                </div> <!--modal-body-->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--更新模态窗-->
    <div class="modal fade" id="updateModal">
        <div class="modal-dialog" style="width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">更新命令组</h4>
                </div>
                <div class="modal-body">
                    <form id="upForm" class="form-horizontal  nice-validator n-yellow" novalidate="novalidate">
                        <input type="hidden" id="upid" name="id" class="form-control">
                        <div class="row">
                            <div class="form-group">
                                <label for="upname" class="col-sm-2 control-label">组名</label>
                                <div class="col-sm-8">
                                    <input id="upname" name="name" placeholder="组名" type="text"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="upcomment" class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-8">
                                    <input id="upcomment" name="comment" placeholder="添加原因或用途！" type="text"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-2 control-label">
                                命令组类别<span class="red-fonts">*</span> </label>
                                <div class="col-sm-8">
                                    <div class="radio i-checks">
                                        <label> <input type="radio" value="white" name="group_type"
                                                       onclick="show(this)"> <i> 白名单 </i></label>
                                        <label> <input type="radio" value="black" name="group_type"
                                                       onclick="show(this)"> <i> 黑名单 </i></label>
                                    </div>
                                </div>
                            </div>
                            <div id="upwhite" style="display:none;">
                                <div>
                                    <label for="" class="col-sm-2 control-label">可选命令<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-4">
                                        <div>
                                            <select id="upwhite_cmd_all" name="white_cmd_all" multiple
                                                    class="form-control m-b" size="20" data-live-search="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <label for="" class="col-sm-1 control-label">白名单命令集<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-1">
                                    <div class="btn-group" style="margin-top: 12px;">
                                        <button type="button" class="btn btn-white"
                                                onclick="move('upwhite_cmd_all', 'upwhite_cmd')"><i
                                                class="fa fa-chevron-right"></i></button>
                                        <button type="button" class="btn btn-white"
                                                onclick="move('upwhite_cmd', 'upwhite_cmd_all')"><i
                                                class="fa fa-chevron-left"></i></button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div>
                                        <select id="upwhite_cmd" name="white_cmd" class="form-control m-b"
                                                size="20" multiple data-live-search="true">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="upblack" style="display:none;">
                                <div>
                                    <label for="" class="col-sm-2 control-label">可选命令<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-4">
                                        <div>
                                            <select id="upblack_cmd_all" name="black_cmd_all" multiple
                                                    class="form-control m-b" size="25" data-live-search="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <label for="" class="col-sm-1 control-label">高危命令集<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-1">
                                        <div class="btn-group" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-white"
                                                    onclick="move('upblack_cmd_all', 'upperilous_cmd')"><i
                                                    class="fa fa-chevron-right"></i></button>
                                            <button type="button" class="btn btn-white"
                                                    onclick="move('upperilous_cmd', 'upblack_cmd_all')"><i
                                                    class="fa fa-chevron-left"></i></button>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div>
                                            <select id="upperilous_cmd" name="perilous_cmd" multiple
                                                    class="form-control m-b" size="10">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="" class="col-sm-1 control-label">敏感命令集<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-1">
                                        <div class="btn-group" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-white"
                                                    onclick="move('upblack_cmd_all', 'upsensitive_cmd')">
                                                <i class="fa fa-chevron-right"></i></button>
                                            <button type="button" class="btn btn-white"
                                                    onclick="move('upsensitive_cmd', 'upblack_cmd_all')">
                                                <i class="fa fa-chevron-left"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div>
                                            <select id="upsensitive_cmd" name="sensitive_cmd" multiple
                                                    class="form-control m-b" size="10" data-live-search="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- black end -->
                        </div>

                        <div class="form-group">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" onclick="updateFunc()">确认</button>
                            </div>
                        </div> <!--button-->
                    </form> <!--form-->
                </div> <!--modal-body-->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock content %}
{% block custom_foot_css_js %}
    <script>
        //获取列表
        function get_name_list() {
            // 采取异步请求
            // 初始化table
            $('#name-list').bootstrapTable('destroy').bootstrapTable({
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                url: "{% url 'ssh:perilous-cmd-group-list' %}",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "desc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 14,                       //每页的记录行数（*）
                pageList: [20, 30, 50, 100],        //可供选择的每页的行数（*）
                showExport: true,                   //是否显示导出按钮
                exportOptions: {
                    fileName: 'perilous_cmd'           //文件名称设置
                },
                search: true,                       //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                columns: [{
                    title: '组名',
                    field: 'name'
                }, {
                    title: '类型',
                    field: 'group_type',
                    sortable: true
                }, {
                    title: '备注',
                    field: 'comment'
                }, {
                    title: '创建时间',
                    field: 'creation_date',
                    sortable: true
                },  {
                    title: '操作',
                    field: 'id',
                    formatter: function (value, row, index) {
                        {% if perms.auth.perm_ssh_perilous_cmd_group_edit %}
                            var html = "<button class='btn btn-warning' onclick=\"editFunc(" + row.id + ")\">编辑</button>"
                            html += "<button class='btn btn-danger' onclick=\"delFunc(" + row.id + ")\">删除</button>"
                            return html;
                        {% endif %}
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                    alert("数据加载失败！请检查接口返回信息和错误日志！");
                },
                queryParams: function (params) {
                    return {
                        limit: params.limit,
                        offset: params.offset,
                        group_type: $("#group_type").val(),
                        sortName: params.sort,
                        sortOrder: params.order,
                        search: params.search
                    }
                },
                onSearch: function (params) {
                    //传搜索参数给服务器
                    return {
                        search: params.search
                    }
                },
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    return res;
                }
            });

        }

        //命令类型筛选变动自动刷新
        $("#group_type").change(function () {
            get_name_list();
        });

        //初始化数据
        $(document).ready(function () {
            get_name_list();
        });

        // 以下添加操作
        /*点击按钮，显示添加模态窗*/
        $("#btn_add").on('click',function(){
            $.ajax({
                url: "{% url 'ssh:perilous-cmd-list' %}",
                type: "get",
                success: function (data) {
                    if (data.total == 0) {
                        swal("操作失败", data.errmsg, "error");
                    } else {
                        $('#white_cmd_all').empty();
                        $('#black_cmd_all').empty();
                        $('#white_cmd').empty();
                        $('#perilous_cmd').empty();
                        $('#sensitive_cmd').empty();
                        for(var i = 0; i < data['rows'].length; i++) {
                            var html = "<option value='" + data['rows'][i]['id'] + "' >" +
                                    data['rows'][i]['cmd_regex'] + "(" +
                                    data['rows'][i]['comment'] + ")" + "</option>";
                            if (data['rows'][i]['cmd_type'] == 'white') {
                                $('#white_cmd_all').append(html);
                            } else {
                                $('#black_cmd_all').append(html);
                            }
                        }
                        $('#addModal').modal('show');
                    }
                },
                error: function (res) {
                    console.log(res);
                    swal("操作失败", res, "error");
                }
            });
        });
        //表单验证
        $("#addForm").Validform({
            btnSubmit:"#addBtn",
            tiptype: 3
        });
        /*添加*/
        $('#addForm').on('submit', function () {
            select_option();
            var data = $('#addForm').serialize();
            $.ajax({
                url: "{% url 'ssh:perilous-cmd-group-list' %}",
                type: "post",
                data: data,
                success: function (res) {
                    if (res.code == 0) {
                        $('#addModal').modal('hide');
                        swal({
                        title:"success",
                        text:"添加成功",
                        type:"success",
                        confirmButtonText:'确定'
                        },function(){
                            get_name_list();
                         });
                    } else {
                        swal("操作失败", res.errmsg, "error");
                    }
                },
                error: function (res) {
                    console.log(res);
                    $('#addModal').modal('hide');
                    swal("操作失败", res, "error");
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
            return false;
        }); /*submit end*/

        // 以下更新操作
        /*点击按钮，显示更新模态窗,并获取该条数据信息*/
        function editFunc(id) {
            $.ajax({
                url: "{% url 'ssh:perilous-cmd-group-detail' %}" + id,
                type: "get",
                success: function (data) {
                    if (data.code == 0) {
                        var data = data['result'];
                        console.log(data);
                        $('#upwhite_cmd_all').empty();
                        $('#upblack_cmd_all').empty();
                        $('#upwhite_cmd').empty();
                        $('#upperilous_cmd').empty();
                        $('#upsensitive_cmd').empty();
                        for(var i = 0; i < data['wca'].length; i++) {
                            var html = "<option value='" + data['wca'][i]['id'] + "' >" +
                                    data['wca'][i]['cmd_regex'] + "(" +
                                    data['wca'][i]['comment'] + ")" + "</option>";
                            $('#upwhite_cmd_all').append(html);
                        }
                        for(var i = 0; i < data['bca'].length; i++) {
                            var html = "<option value='" + data['bca'][i]['id'] + "' >" +
                                    data['bca'][i]['cmd_regex'] + "(" +
                                    data['bca'][i]['comment'] + ")" + "</option>";
                            $('#upblack_cmd_all').append(html);
                        }
                        for(var i = 0; i < data['white_cmd'].length; i++) {
                            var html = "<option value='" + data['white_cmd'][i]['id'] + "' >" +
                                    data['white_cmd'][i]['cmd_regex'] + "(" +
                                    data['white_cmd'][i]['comment'] + ")" + "</option>";
                            $('#upwhite_cmd').append(html);
                        }
                        for(var i = 0; i < data['perilous_cmd'].length; i++) {
                            var html = "<option value='" + data['perilous_cmd'][i]['id'] + "' >" +
                                    data['perilous_cmd'][i]['cmd_regex'] + "(" +
                                    data['perilous_cmd'][i]['comment'] + ")" + "</option>";
                            $('#upperilous_cmd').append(html);
                        }
                        for(var i = 0; i < data['sensitive_cmd'].length; i++) {
                            var html = "<option value='" + data['sensitive_cmd'][i]['id'] + "' >" +
                                    data['sensitive_cmd'][i]['cmd_regex'] + "(" +
                                    data['sensitive_cmd'][i]['comment'] + ")" + "</option>";
                            $('#upsensitive_cmd').append(html);
                        }
                        if (data['group_type'] == "white") {
                            document.getElementById("upwhite").style.display = "block";
                            document.getElementById("upblack").style.display = "none";
                        } else {
                            document.getElementById("upwhite").style.display = "none";
                            document.getElementById("upblack").style.display = "block";
                        }
                        $('#upForm')[0].reset();
                        reShowForm(data,'upForm');
                        $('#updateModal').modal('show');
                    } else {
                        swal("操作失败", data.errmsg, "error");
                    }
                },
                error: function (res) {
                    console.log(res);
                    swal("操作失败", res, "error");
                }
            });
        }
        /*更新信息*/
        function updateFunc() {
            swal({
                    title: "是否确认更新？",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        select_option();
                        var id = $("#upid").val();
                        var data = $('#upForm').serialize();
                        $.ajax({
                            url: "{% url "ssh:perilous-cmd-group-detail" %}" + id,
                            type: "put",
                            data: data,
                            success: function (data) {
                                if (data.code == 0) {
                                    swal({
                                        title: "success",
                                        text: "更新成功",
                                        type: "success",
                                        confirmButtonText: '确定'
                                    }, function () {
                                        $('#updateModal').modal('hide');
                                        get_name_list();
                                    });
                                } else {
                                    swal("操作失败", data.errmsg, "error");
                                }
                            },
                            beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                                }
                            }
                        });
                    } else {
                        swal("取消成功！", "", "error");
                    }
                });
        }

        // 以下删除操作
        function delFunc(id) {
            swal({
                    title: "是否确认删除？",
                    text: "该记录将无法恢复！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                },
                function () {
                    $.ajax({
                        url: "{% url 'ssh:perilous-cmd-group-detail' %}" + id,
                        type: "delete",
                        data: {},
                        success: function (res) {
                            console.log(res);
                            if (res.code == 0) {
                                swal({
                                    title: "success",
                                    text: "操作成功",
                                    type: "success",
                                    confirmButtonText: '确定'
                                }, function () {
                                    get_name_list();
                                });
                            } else {
                                swal("操作失败", res.errmsg, "error");
                            }
                        },
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                            }
                        }
                    });
                });
        }
        function select_option() {
            $('#sensitive_cmd option').each(function () {
                $(this).prop('selected', true)
            });
            $('#perilous_cmd option').each(function () {
                $(this).prop('selected', true)
            });
            $('#white_cmd option').each(function () {
                $(this).prop('selected', true)
            });
            $('#upsensitive_cmd option').each(function () {
                $(this).prop('selected', true)
            });
            $('#upperilous_cmd option').each(function () {
                $(this).prop('selected', true)
            });
            $('#upwhite_cmd option').each(function () {
                $(this).prop('selected', true)
            });
        }
        function show(o) {
            if (o.value == "white") {
                document.getElementById("white").style.display = "block";
                document.getElementById("black").style.display = "none";
                document.getElementById("upwhite").style.display = "block";
                document.getElementById("upblack").style.display = "none";
            } else {
                document.getElementById("white").style.display = "none";
                document.getElementById("black").style.display = "block";
                document.getElementById("upwhite").style.display = "none";
                document.getElementById("upblack").style.display = "block";
            }
        }
        function move(from, to, from_o, to_o) {
            $("#" + from + " option").each(function () {
                if ($(this).prop("selected") == true) {
                    $("#" + to).append(this);
                    if( typeof from_o !== 'undefined'){
                        $("#"+to_o).append($("#"+from_o +" option[value='"+this.value+"']"));
                    }
                }
            });
        }
    </script>
{% endblock %}
