{% extends "base.html" %}
{% block custom_head_css_js %}
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/zTree_v3/css/awesomeStyle/awesome.css" type="text/css">
    <script type="text/javascript" src="/static/zTree_v3/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/static/zTree_v3/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/static/zTree_v3/js/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="/static/zTree_v3/js/jquery.ztree.exhide.js"></script>
    <script type="text/javascript" src="/static/zTree_v3/js/fuzzysearch.js"></script>
    <link rel="stylesheet" href="/static/toastr/toastr.min.css" type="text/css">
    <script type="text/javascript" src="/static/toastr/toastr.min.js"></script>
    <style type="text/css">
        div#rMenu {
            position: absolute;
            visibility: hidden;
            text-align: left;
        {#top: 100%;#} top: 0;
            left: 0;
            z-index: 1000;
            float: left;
        {#float: left;#} padding: 0 0;
            margin: 2px 200px 0;
            list-style: none;
            background-clip: padding-box;
        }

        div#rMenu li {
            margin: 1px 0;
            cursor: pointer;
            list-style: none outside none;
        }

        .dropdown a:hover {
            background-color: #f1f1f1
        }
    </style>
{% endblock %}
{% block custom_nav_bar_left %}
    {% include 'nav_bar_left_cmdb.html' %}
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-10" id="split-left" style="padding-left: 3px">
                <div class="ibox float-e-margins">
                    搜索：<input type="text" id="key" value="" class="empty"/>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content" style="padding-top: 10px;padding-left: 1px">
                        <div class="file-manager ">
                            <div id="assetTree" class="ztree">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--添加模态框-->
            <div class="modal fade" id="addModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">添加业务部门</h4>
                        </div>
                        <div class="modal-body">
                            <p hidden id="uperrorMsg" class="text-danger" style="color:red"></p> <!-- for error msg-->
                            <form id="addForm" class="form-horizontal  nice-validator n-yellow" novalidate="novalidate">
                                <div class="form-group">
                                    <label for="hostname" class="col-sm-2 control-label">部门名<span
                                            class="red-fonts">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="adddept_name" name="dept_name"
                                               type="text" class="form-control" datatype="s2-16" errormsg="格式不正确">
                                    </div>
                                </div><!--部门名-->

                                <input id="addparent_id" name="parent_id" type="hidden" class="form-control">

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label for="comment" class="col-sm-2 control-label">备注<span class="red-fonts">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="addcomment" name="comment" placeholder="" class="form-control">
                                    </div>
                                </div><!---->

                                <div class="form-group">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-primary">确认</button>
                                    </div>
                                </div> <!--button-->
                            </form> <!--form-->
                        </div> <!--modal-body-->

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
    <div id="rMenu">
        <ul class="dropdown-menu">
            <li id="m_create" tabindex="-1" onclick="addTreeNode();"><a><i
                    class="fa fa-plus-square-o"></i> 添加子部门</a></li>
            <li id="m_del" tabindex="-1" onclick="editTreeNode();"><a><i
                    class="fa fa-pencil-square-o"></i> 重命名部门</a></li>
            <li id="m_del" tabindex="-1" onclick="removeTreeNode();"><a><i
                    class="fa fa-minus-square"></i> 删除部门</a></li>
        </ul>
    </div>
{% endblock content %}
{% block custom_foot_css_js %}
    <script>
        var zTree, rMenu, show = 0;

        function addTreeNode() {
            {% if perms.auth.perm_cmdb_business_edit %}
                hideRMenu();
                var current_node = zTree.getSelectedNodes()[0];
                if (!current_node) {
                    return
                }
                $('#addparent_id').val(current_node.id);
                $('#addModal').modal('show');
            {% else %}
                toastr.error("无权限！");
            {% endif %}
        }

        function removeTreeNode() {
            {% if perms.auth.perm_cmdb_business_edit %}
                hideRMenu();
                var current_node = zTree.getSelectedNodes()[0];
                if (!current_node) {
                    return
                }
                if (current_node.children && current_node.children.length > 0) {
                    toastr.error("请先删除所有子节点！");
                } else {
                    if (confirm("是否删除本节点？")){
                        var url = "{% url 'cmdb:biz-dept-detail' pk='0000' %}".replace('0000', current_node.id);
                        $.ajax({
                            url: url,
                            method: "DELETE",
                            success: function (res) {
                                if (res.code == 0) {
                                    toastr.success(res.result);
                                    zTree.removeNode(current_node);
                                } else {
                                    toastr.error(res.errmsg);
                                }
                            },
                            error: function (res) {
                                toastr.error(res);
                            },
                            beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                                }
                            }
                        });
                    }
                }
            {% else %}
                toastr.error("无权限！");
            {% endif %}
        }

        function editTreeNode() {
            {% if perms.auth.perm_cmdb_business_edit %}
                hideRMenu();
                var current_node = zTree.getSelectedNodes()[0];
                if (!current_node) {
                    return
                }
                if (current_node.value) {
                    current_node.name = current_node.value;
                }
                zTree.editName(current_node);
            {% else %}
                toastr.error("无权限！");
            {% endif %}
        }

        function OnRightClick(event, treeId, treeNode) {
            if (!treeNode && event.target.tagName.toLowerCase() !== "button" && $(event.target).parents("a").length === 0) {
                zTree.cancelSelectedNode();
                showRMenu("root", event.clientX, event.clientY);
            } else if (treeNode && !treeNode.noR) {
                zTree.selectNode(treeNode);
                showRMenu("node", event.clientX, event.clientY);
            }
        }

        function showRMenu(type, x, y) {
            $("#rMenu ul").show();
            x -= 220;
            x += document.body.scrollLeft;
            y += document.body.scrollTop + document.documentElement.scrollTop;
            rMenu.css({"top": y + "px", "left": x + "px", "visibility": "visible"});

            $("body").bind("mousedown", onBodyMouseDown);
        }

        function beforeClick(treeId, treeNode, clickFlag) {
            return true;
        }

        function hideRMenu() {
            if (rMenu) rMenu.css({"visibility": "hidden"});
            $("body").unbind("mousedown", onBodyMouseDown);
        }

        function onBodyMouseDown(event) {
            if (!(event.target.id === "rMenu" || $(event.target).parents("#rMenu").length > 0)) {
                rMenu.css({"visibility": "hidden"});
            }
        }

        function onRename(event, treeId, treeNode, isCancel) {
            var url = "{% url 'cmdb:biz-dept-detail' pk='0000' %}".replace("0000", treeNode.id);
            var data = {"dept_name": treeNode.name, "parent_id": treeNode.pId};
            if (isCancel) {
                return
            }
            $.ajax({
                url: url,
                type: "put",
                data: data,
                success: function (res) {
                    if (res.code == 0) {
                        toastr.success(res.result);
                    } else {
                        toastr.error(res.errmsg);
                    }
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
        }

        function selectQueryNode() {
            var query_node_id = getUrlParam("node");
            var cookie_node_id = getCookie('node_selected');
            var node;
            var node_id;

            if (query_node_id !== null) {
                node_id = query_node_id
            } else if (cookie_node_id !== null) {
                node_id = cookie_node_id;
            }

            node = zTree.getNodesByParam("id", node_id, null);
            if (node) {
                zTree.selectNode(node[0]);
            }
        }

        function beforeDrag() {
            return true
        }

        function beforeDrop(treeId, treeNodes, targetNode, moveType) {
            var treeNodesNames = [];
            $.each(treeNodes, function (index, value) {
                treeNodesNames.push(value.name);
            });

            var msg = "你想移动节点: `" + treeNodesNames.join(",") + "` 到 `" + targetNode.name + "` 下吗?";
            if (confirm(msg)) {
                return true
            } else {
                return false
            }
        }

        function onDrag(event, treeId, treeNodes) {
        }

        function onDrop(event, treeId, treeNodes, targetNode, moveType, isCopy) {
            var treeNodesIds = [];
            $.each(treeNodes, function (index, value) {
                treeNodesIds.push(value.id);
            });
            var url = "{% url 'cmdb:api-biz-dept-move' version='v1' %}";
            $.ajax({
                url: url,
                type: "post",
                data: {'parent_id': targetNode.id, 'nodes': treeNodesIds},
                success: function (res) {
                    toastr.success(res.result);
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
        }

        function initTree() {
            var setting = {
                view: {
                    dblClickExpand: false,
                    showLine: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                edit: {
                    enable: true,
                    showRemoveBtn: false,
                    showRenameBtn: false,
                    drag: {
                        isCopy: false,
                        isMove: true
                    }
                },
                callback: {
                    onRightClick: OnRightClick,
                    beforeClick: beforeClick,
                    onRename: onRename,
                    beforeDrag: beforeDrag,
                    onDrag: onDrag,
                    beforeDrop: beforeDrop,
                    onDrop: onDrop
                }
            };

            var zNodes = [];
            $.get("{% url 'cmdb:biz-dept-list' %}", function (data) {
                $.each(data, function (index, v) {
                    if (v["parent_id"] === 0 || v["parent_id"] === 1) {
                        var open = true;
                    } else {
                        var open = false;
                    }
                    zNodes.push({"id": v["id"], "name": v["name"], "pId": v["parent_id"], "open": open});
                });
                $.fn.zTree.init($("#assetTree"), setting, zNodes);
                fuzzySearch('assetTree','#key',null,false);     //initialize fuzzysearch function
                zTree = $.fn.zTree.getZTreeObj("assetTree");
                rMenu = $("#rMenu");
                selectQueryNode();
            });
        }

        $(document).ready(function () {
            initTree();
        });

        $('#addForm').on('submit', function () {
            var url = "{% url 'cmdb:biz-dept-list' %}";
            var data = $('#addForm').serialize();
            $.ajax({
                url: url,
                type: "post",
                data: data,
                success: function (res) {
                    if (res.code == 0) {
                        $('#addModal').modal('hide');
                        toastr.success(res.result);
                    } else {
                        toastr.error(res.errmsg);
                    }
                },
                error: function (res) {
                    console.log(res);
                    $('#addModal').modal('hide');
                    toastr.error(res);
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
        });
        /*submit end*/
    </script>
{% endblock %}
