{% extends 'base.html' %}
{% block custom_head_css_js %}
    {% load staticfiles %}
    <script src="{% static 'echarts-2.2.7/js/echarts.min.js' %}"></script>
{% endblock %}
{% block custom_nav_bar_left %}
    {% include 'nav_bar_left_cmdb.html' %}
{% endblock %}
{% block content %}
    <div id="toolbar" class="form-inline">
        <div class="form-group bootstrap-select ">
            <select id="dept" class="dropdown-menu-right selectpicker " data-live-search="true">
                <option value="">选择部门</option>
                {% for dept in dept_list %}
                    {% ifequal dept.dept_name dept_name %}
                        <option value="{{ dept.id }}" selected="selected">{{ dept.dept_name }}</option>
                    {% else %}
                        <option value="{{ dept.id }}">{{ dept.dept_name }}</option>
                    {% endifequal %}
                {% endfor %}
            </select>
        </div>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default" onclick="filterServer('0-100%')">
                <a>全部</a></button>
            <button type="button" class="btn btn-default" onclick="filterServer('0-10%')">
                <a>0-10%</a></button>
            <button type="button" class="btn btn-default" onclick="filterServer('10%-20%')">
                <a>10%-20%</a></button>
            <button type="button" class="btn btn-default" onclick="filterServer('20%-30%')">
                <a>20%-30%</a></button>
            <button type="button" class="btn btn-default" onclick="filterServer('30%-60%')">
                <a>30%-60%</a></button>
            <button type="button" class="btn btn-default" onclick="filterServer('60%-90%')">
                <a>60%-90%</a></button>
            <button type="button" class="btn btn-default" onclick="filterServer('90%-100%')">
                <a>90%-100%</a></button>
        </div>
    </div>
    <!-- 列表的表格-->
    <div class="table-responsive">
        <table id="name-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>
{% endblock %}
{% block custom_foot_css_js %}
    <script>
        function bar2() {
            $.ajax({
                url: "{% url 'cmdb:api-server-res-usage' version='v1' %}",
                type: "get",
                success: function (res) {
                    // console.log(res);
                    var option = {
                        title: {
                            text: ''
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['CPU', 'Memory']
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: res.date_time
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: 'CPU',
                                type: 'line',
                                stack: '总量',
                                data: res.cpu_used
                            },
                            {
                                name: 'Memory',
                                type: 'line',
                                stack: '总量',
                                data: res.memory_used
                            }
                        ]
                    };
                    var myChart = echarts.init(document.getElementById('flot-bar21-chart'));
                    myChart.setOption(option, true);
                },
                error: function (res) {
                    console.log(res);
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
        }
        function get_server_list() {
            $('#name-list').bootstrapTable('destroy').bootstrapTable({
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                url: "{% url 'cmdb:server-list' %}",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 14,                       //每页的记录行数（*）
                pageList: [20, 30, 50, 100],        //可供选择的每页的行数（*）
                autoWidth: false,
                showExport: false,                   //是否显示导出按钮
                exportOptions: {
                    fileName: ''                    //文件名称设置
                },
                search: true,                       //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: false,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                columns: [{
                    title: '',
                    field: 'id',
                    formatter: function (value, row, index) {
                        return '<div class="abc" id="chartmain'+value+'" sid="'+value+'" style="height: 300px;"></div>';
                    }
                }],
                onLoadSuccess: function () {
                    var ss = $(".abc");
                    for(var i=0;i<ss.length;i++){
                        var sid = ss[i].getAttribute('sid');
                        $.ajax({
                            url: "{% url 'cmdb:api-server-res-usage' version='v1' %}",
                            type: "get",
                            data: {"server_id": sid},
                            success: function (res) {
                                var option = {
                                    title: {
                                        text: res.hostname + "（" + res.ip + "）",
                                        subtext: 'CPU和内存使用率'
                                    },
                                    tooltip: {
                                        trigger: 'axis'
                                    },
                                    legend: {
                                        data: ['CPU', 'Memory']
                                    },
                                    grid: {
                                        left: '3%',
                                        right: '4%',
                                        bottom: '3%',
                                        containLabel: true
                                    },
                                    toolbox: {
                                        feature: {
                                            saveAsImage: {}
                                        }
                                    },
                                    xAxis: {
                                        type: 'category',
                                        boundaryGap: false,
                                        data: res.date_time
                                    },
                                    yAxis: {
                                        type: 'value'
                                    },
                                    series: [
                                        {
                                            name: 'CPU',
                                            type: 'line',
                                            data: res.cpu_used
                                        },
                                        {
                                            name: 'Memory',
                                            type: 'line',
                                            data: res.memory_used
                                        }
                                    ]
                                };
                                // console.log(document.getElementById('chartmain' + sid));
                                var myChart = echarts.init(document.getElementById('chartmain' + res.id));
                                myChart.setOption(option, true);
                            },
                            error: function (res) {
                                console.log(res);
                            },
                            beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                                }
                            }
                        });
                    }
                },
                onLoadError: function () {
                    alert("数据加载失败！请检查接口返回信息和错误日志！");
                },
                queryParams: function (e) {
                    return {
                        limit: e.limit,
                        offset: e.offset,
                        dept_id: $('#dept').val(),
                        pct_range: sessionStorage.getItem('pct_range'),
                        search: e.search
                    }
                },
                onSearch: function (e) {
                    //传搜索参数给服务器
                    return {
                        search: e.search
                    }
                },
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    return res;
                }
            });

        }
        $(document).ready(function () {
            sessionStorage.setItem('pct_range', "{{ pct_range }}");
            get_server_list();
        });
        $("#dept").change(function () {
            get_server_list();
        });
        function filterServer(range) {
            sessionStorage.setItem('pct_range', range);
            get_server_list()
        }
    </script>
{% endblock %}
