{% extends "base.html" %}
{% block custom_head_css_js %}
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/toastr/toastr.min.css" type="text/css">
    <script type="text/javascript" src="/static/toastr/toastr.min.js"></script>
{% endblock %}
{% block custom_nav_bar_left %}
    {% include 'nav_bar_left_cmdb.html' %}
{% endblock %}
{% block content %}
    <!-- 自定义操作按钮-->
    <div id="toolbar" class="form-inline">
        <div class="form-group bootstrap-select ">
            <select id="idc" class="dropdown-menu-right selectpicker " data-live-search="true">
                <option value="" selected="selected">机房</option>
                {% for idc in idc_list %}
                    <option value="{{ idc.id }}">{{ idc.idc_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group bootstrap-select ">
            <select id="vlan" class="dropdown-menu-right selectpicker " data-live-search="true">
                <option value="" selected="selected">VLan</option>
                {% for vlan in vlan_list %}
                    <option data-tokens="{{ vlan.vlan_num }}|{{ vlan.comment }}" value="{{ vlan.id }}">{{ vlan.vlan_num }}({{ vlan.comment }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group ">
            {% if perms.auth.perm_cmdb_segment_edit %}
                <button id="btn_add" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加网段
                </button>
            {% endif %}
        </div>
    </div>
    <!-- 列表的表格-->
    <div class="table-responsive">
        <table id="name-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>

    <!--添加模态框-->
    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加网段</h4>
                </div>
                <div class="modal-body">
                    <p hidden id="uperrorMsg" class="text-danger" style="color:red"></p> <!-- for error msg-->
                    <form id="addForm" class="form-horizontal  nice-validator n-yellow" novalidate="novalidate">
                        <div class="form-group">
                            <label for="idc" class="col-sm-2 control-label">IDC<span
                                    class="red-fonts">*</span></label>
                            <div class="col-sm-4">
                                <select id="addidc" name="idc" class="dropdown-menu-left selectpicker ">
                                    {% for idc in idc_list %}
                                        <option value="{{ idc.id }}">{{ idc.idc_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label for="vlan" class="col-sm-1 control-label">VLan<span class="red-fonts">*</span></label>
                            <div class="col-sm-4">
                                <select id="addvlan" name='vlan' class="dropdown-menu-left selectpicker ">
                                    <option value="" selected="selected">VLan</option>
                                    {% for vlan in vlan_list %}
                                        <option data-tokens="{{ vlan.vlan_num }}|{{ vlan.comment }}"
                                                value="{{ vlan.id }}">{{ vlan.vlan_num }}({{ vlan.comment }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="segment" class="col-sm-2 control-label">网段<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                <input id="addsegment" name="segment" placeholder="192.168.0.1"
                                       type="text" class="form-control" datatype="s2-16" errormsg="格式不正确">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="netmask" class="col-sm-2 control-label">子网掩码<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                <input id="addnetmask" name="netmask" placeholder="255.255.255.0" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="comment" class="col-sm-2 control-label">备注<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                <input id="addcomment" name="comment" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="addBtn">确认</button>
                            </div>
                        </div> <!--button-->
                    </form> <!--form-->
                </div> <!--modal-body-->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--更新模态窗-->
    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">更新网段</h4>
                </div>
                <div class="modal-body">
                    <form id="upForm" class="form-horizontal  nice-validator n-yellow" novalidate="novalidate">
                        <input type="hidden" id="upid" name="id" class="form-control">
                        <div class="form-group">
                            <label for="idc" class="col-sm-2 control-label">IDC<span
                                    class="red-fonts">*</span></label>
                            <div class="col-sm-4">
                                <select id="upidc" name="idc" class="dropdown-menu-left selectpicker ">
                                    {% for idc in idc_list %}
                                        <option value="{{ idc.id }}">{{ idc.idc_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label for="vlan" class="col-sm-1 control-label">VLan<span class="red-fonts">*</span></label>
                            <div class="col-sm-4">
                                <select id="upvlan" name='vlan' class="dropdown-menu-left selectpicker ">
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="segment" class="col-sm-2 control-label">网段<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                <input id="upsegment" name="segment" placeholder="192.168.0.1"
                                       type="text" class="form-control" datatype="s2-16" errormsg="格式不正确">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="netmask" class="col-sm-2 control-label">子网掩码<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                <input id="upnetmask" name="netmask" placeholder="255.255.255.0" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="comment" class="col-sm-2 control-label">备注<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                <input id="upcomment" name="comment" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" onclick="updateFunc()">确认</button>
                            </div>
                        </div> <!--button-->
                    </form> <!--form-->
                </div> <!--modal-body-->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock content %}
{% block custom_nav_bar_right %}
    <!-- 侧边栏 -->
    <div id="sideMenuInfo" class="container sidebar sidebar-right" style="right: 0px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg1-12" data-side="right">
                <div class="list-group">
                    <table id="ip_display">
                        <tr id="v_ip_display">
                            <th id="v_ip"></th>
                            <th id="v_is_used"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_foot_css_js %}
    {% load staticfiles %}
    <link href="{% static 'bootsidemenu/css/BootSideMenu.css' %}" rel="stylesheet">
    <script src="{% static 'bootsidemenu/js/BootSideMenu.js' %}"></script>
    <script>
        //获取列表
        function get_name_list() {
            // 采取异步请求 初始化Table
            $('#name-list').bootstrapTable('destroy').bootstrapTable({
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                url: "{% url 'cmdb:segment-list' %}",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 14,                       //每页的记录行数（*）
                pageList: [20, 30, 50, 100],        //可供选择的每页的行数（*）
                showExport: true,                   //是否显示导出按钮
                exportOptions: {
                    fileName: 'total_segments'           //文件名称设置
                },
                search: true,                       //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                columns: [{
                    title: 'ID',
                    field: 'id'
                }, {
                    title: 'IDC',
                    field: 'in',
                    sortable: true
                }, {
                    title: 'VLan',
                    field: 'vl',
                    sortable: true
                }, {
                    title: '网段',
                    field: 'seg',
                    sortable: true
                }, {
                    title: '掩码',
                    field: 'nm'
                }, {
                    title: '总量',
                    field: 'it',
                    sortable: true
                }, {
                    title: '已用',
                    field: 'used',
                    sortable: true
                }, {
                    title: '剩余',
                    field: 'usable',
                    sortable: true
                }, {
                    title: '备注',
                    field: 'cmt'
                }, {
                    title: '操作',
                    field: 'id',
                    formatter: function (value, row, index) {
                        {% if perms.auth.perm_cmdb_segment_edit %}
                            var html = "<button class='btn btn-warning' onclick=\"editFunc(" + value + ")\">编辑</button>"
                            html += "<button class='btn btn-danger' onclick=\"delFunc(" + value + ")\">删除</button>"
                            return html;
                        {% endif %}
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                    alert("数据加载失败！请检查接口返回信息和错误日志！");
                },
                queryParams: function (e) {
                    return {
                        limit: e.limit,
                        offset: e.offset,
                        sortName: e.sort,
                        sortOrder: e.order,
                        idc_id: $("#idc").val(),
                        vlan_id: $("#vlan").val(),
                        search: e.search
                    }
                },
                onSearch: function (e) {
                    //传搜索参数给服务器
                    return {
                        search: e.search
                    }
                },
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    return res;
                }
            });

            $("body").delegate('#name-list tr', 'click', function () {
                var nTds = $("td", this);
                var segment_id = $(nTds[0]).text();               //获取当前行的第一列数据
                if (segment_id == "") {return false}
                $("#sideMenuInfo th").html("");
                $.ajax({
                    url: "{% url 'cmdb:ip-list' %}",
                    type: "get",
                    data: {"side_menu_show": 1, "segment_id": segment_id},
                    success: function (data) {
                        $.each(data, function (k, v) {
                            var row = $("#v_ip_display").clone();
                            row.find("#v_ip").text(v["ip"]);
                            if (v["is_used"] == "used") {
                                row.find("#v_is_used").text("已绑定");
                            } else if (v["is_used"] == "allocated") {
                                row.find("#v_is_used").text("已分配，未绑定");
                                row.find("#v_ip").css("color","red");
                                row.find("#v_is_used").css("color","red");
                            } else if (v["is_used"] == "unused") {
                                row.find("#v_is_used").text("未分配");
                                row.find("#v_ip").css("color","green");
                                row.find("#v_is_used").css("color","green");
                            }
                            row.appendTo("#ip_display");         //添加到模板的容器中
                        });
                    },
                    error: function (res) {
                        toastr.error(res);
                    }
                });
                $("#sideMenuInfo").BootSideMenu.open();
            });
        }
        // 以下添加操作
        /*点击按钮，显示添加模态窗*/
        $("#btn_add").on('click',function(){
            $('#addModal').modal('show');
        });
        //表单验证
        $("#addForm").Validform({
            btnSubmit:"#addBtn",
            tiptype: 3
        });
        /*添加*/
        $('#addForm').on('submit', function () {
            var data = $('#addForm').serialize();
            $.ajax({
                url: "{% url 'cmdb:segment-list' %}",
                type: "post",
                data: data,
                success: function (res) {
                    if (res.code == 0) {
                        $('#addModal').modal('hide');
                        swal({
                        title:"success",
                        text:"添加成功",
                        type:"success",
                        confirmButtonText:'确定'
                        },function(){
                            get_name_list();
                         });
                    } else {
                        swal("操作失败", res.errmsg, "error");
                    }
                },
                error: function (res) {
                    console.log(res);
                    $('#addModal').modal('hide');
                    swal("操作失败", res, "error");
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
            return false;
        }); /*submit end*/

        // 以下更新操作
        /*点击按钮，显示更新模态窗,并获取该条数据信息*/
        function editFunc(id) {
            $.ajax({
                url: "{% url 'cmdb:segment-detail' %}" + id,
                type: "get",
                data: {},
                success: function (data) {
                    if (data.code == 0) {
                        var data = data['result'];
                        $('#upForm')[0].reset();
                        reShowForm(data,'upForm');
                        $("#upidc").selectpicker('val',(data['idc']));
                        $("#upidc").selectpicker('refresh');
                        $('#updateModal').modal('show');
                        getVLan({
                            "url": "{% url 'cmdb:vlan-list' %}",
                            "select_id": 'upvlan',
                            "idc_id": data['idc'],
                            "vlan_id": data['vlan']
                        });
                        console.log(data['vlan'], '-', data['idc']);
                    } else {
                        swal("操作失败", data.errmsg, "error");
                    }
                },
                error: function (res) {
                    console.log(res);
                    swal("操作失败", res, "error");
                }
            });
        }
        /*更新信息*/
        function updateFunc() {
            swal({
                    title: "是否确认更新？",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        var id = $("#upid").val();
                        var data = $('#upForm').serialize();
                        $.ajax({
                            url: "{% url "cmdb:segment-detail" %}" + id,
                            type: "put",
                            data: data,
                            success: function (data) {
                                if (data.code == 0) {
                                    swal({
                                        title: "success",
                                        text: "更新成功",
                                        type: "success",
                                        confirmButtonText: '确定'
                                    }, function () {
                                        $('#updateModal').modal('hide');
                                        get_name_list();
                                    });
                                } else {
                                    swal("操作失败", data.errmsg, "error");
                                }
                            },
                            beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                                }
                            }
                        });
                    } else {
                        swal("取消成功！", "", "error");
                    }
                });
        }

        // 以下删除操作
        function delFunc(id) {
            swal({
                    title: "是否确认删除？",
                    text: "该记录将无法恢复！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                },
                function () {
                    $.ajax({
                        url: "{% url "cmdb:segment-detail" %}" + id,
                        type: "delete",
                        data: {},
                        success: function (res) {
                            console.log(res);
                            if (res.code == 0) {
                                swal({
                                    title: "success",
                                    text: "操作成功",
                                    type: "success",
                                    confirmButtonText: '确定'
                                }, function () {
                                    get_name_list();
                                });
                            } else {
                                swal("操作失败", res.errmsg, "error");
                            }
                        },
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                            }
                        }
                    });
                });
        }

        $("#addidc").change(function () {
            getVLan({
                "url": "{% url 'cmdb:vlan-list' %}",
                "select_id": 'addvlan',
                "idc_id": $(this).children('option:selected').val(),
                "vlan_id": null
            });
        });
        $("#upidc").change(function () {
            getVLan({
                "url": "{% url 'cmdb:vlan-list' %}",
                "select_id": 'upvlan',
                "idc_id": $(this).children('option:selected').val(),
                "vlan_id": null
            });
        });

        $("#idc").change(function () {
            getVLan({
                "url": "{% url 'cmdb:vlan-list' %}",
                "select_id": 'vlan',
                "idc_id": $(this).children('option:selected').val(),
                "vlan_id": null
            });
            get_name_list();
        });
        $("#vlan").change(function () {
            get_name_list();
        });
        //初始化数据
        $(document).ready(function () {
            get_name_list();
            $('#sideMenuInfo').BootSideMenu({
                side: "right",
                width: "15%",
                pushBody: false,
                autoClose: true,
                closeOnClick: false
            });
        });

    </script>
{% endblock %}
