{% extends "base.html" %}
{% block custom_head_css_js %}
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/toastr/toastr.min.css" type="text/css">
    <script type="text/javascript" src="{% static 'ace/ace.js' %}"></script>
    <script type="text/javascript" src="/static/toastr/toastr.min.js"></script>
    <link href="{% static 'select2-4.0.5/css/select2.min.css' %}" rel="stylesheet">
    <script src="{% static 'select2-4.0.5/js/select2.full.js' %}"></script>
    <style>
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
          width: auto;
        }
        .myselect {
            line-height: normal;
            min-height: 34px !important;
            margin-top: -4px;
        }
    </style>
{% endblock %}
{% block custom_nav_bar_left %}
    {% include 'nav_bar_left_job.html' %}
{% endblock %}
{% block content %}
    <div id="toolbar" class="form-inline">
        <div class="form-group ">
            <a type="button" class="btn btn-default" href="{% url 'job:job-add' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加作业
            </a>
        </div>
        <div class="form-group bootstrap-select ">
            <select id="exec_type" class="dropdown-menu-right selectpicker" data-live-search="true">
                <option value="" selected="selected">所有执行模式</option>
                <option value="paramiko">Paramiko</option>
                <option value="ad-hoc">Ad-Hoc</option>
                <option value="playbook">Playbook</option>
            </select>
        </div>
        <div class="form-group bootstrap-select ">
            <select id="task_type" class="dropdown-menu-right selectpicker" data-live-search="true">
                <option value="" selected="selected">所有作业类型</option>
                <option value="command">命令执行</option>
                <option value="upload">文件上传</option>
                <option value="download">文件下载</option>
            </select>
        </div>
        <div class="form-group bootstrap-select ">
            <select id="public" class="dropdown-menu-right selectpicker" data-live-search="true">
                <option value="" selected="selected">是否公开</option>
                <option value="true">所有人可用</option>
                <option value="false">管理员可用</option>
            </select>
        </div>
        <div class="form-group bootstrap-select ">
            <select id="active" class="dropdown-menu-right selectpicker" data-live-search="true">
                <option value="" selected="selected">是否可用</option>
                <option value="true">激活的</option>
                <option value="false">禁用的</option>
            </select>
        </div>
        <div class="form-group">
            <div class="col-md-9">
                <select name="tags" data-placeholder="请选择标签" multiple="" tabindex="4" id="tags">
                    {% for tag in tag_list %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="job-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>

    <!--更新模态窗-->
    <div class="modal fade" id="updateModal">
        <div class="modal-dialog" style="width: 60%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">作业修改</h4>
                </div>
                <div class="modal-body">
                    <form id="upForm" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <input type="hidden" id="upid" name="id" class="form-control">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" item="task_name"
                                       placeholder="磁盘检测" name="task_name" id="up_task_name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">账户<span class="red-fonts">*</span></label>
                            <div class="col-sm-4">
                                <select id="up_host_user" name="host_user" class="selectpicker width100" data-live-search="true">
                                    {% for user in host_users %}
                                        <option value="{{ user.id }}">{{ user.name }}({{ user.desc }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <a href="/admin/ssh/hostuser/" type="button" class="btn btn-success pull-left"><i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">程序</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label> <input type="radio" value="ansible" name="program" checked
                                                   onclick="pTypeShow(this)">Ansible</label>
                                    <label> <input type="radio" value="paramiko" name="program" disabled
                                                   onclick="pTypeShow(this)">Paramiko</label>
                                </div>
                            </div>
                        </div>
                        <div name="e_ansible" id="e_ansible" style="display:block;">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Inventory<span class="red-fonts">*</span></label>
                                <div class="col-sm-4">
                                    <select id="up_inventory" name="inventory" class="selectpicker width100" data-live-search="true">
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                                            data-target="#collapseOne">
                                        查看内容
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="collapseOne" class="collapse in">
                                    <div class="modal-body col-sm-offset-1 ">
                                        <div class="column">
                                            <pre id="inventory_editor" class="ace_editor"
                                                 style="min-height:350px;width:80%"></pre>
                                            <div class="col-sm-6 col-sm-offset-1">
                                                <button id="saveInventoryBtn" type="button"
                                                        class="btn btn-success pull-left">
                                                    保存更新
                                                </button>
                                            </div>
                                        </div>
                                    </div> <!--modal-body-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">目标主机（组）<span class="red-fonts">*</span></label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="host" id="up_host"
                                           placeholder="请输入该Inventory文件中的主机名或组名，多个使用逗号分隔"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">执行</label>
                                <div class="col-sm-8">
                                    <div class="radio i-checks">
                                        <label> <input type="radio" value="ad-hoc" name="execute" id="exec1"
                                                       onclick="eTypeShow(this)">Ad-Hoc</label>
                                        <label> <input type="radio" value="playbook" name="execute" id="exec2"
                                                       onclick="eTypeShow(this)">Playbook</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ad-hoc -->
                        <div name="m_ansible" id="m_ansible" style="display:block;">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ansible模块</label>
                                <div class="col-sm-8">
                                    <div class="radio i-checks">
                                        <label> <input type="radio" value="command" name="module" checked
                                                       onclick="mTypeShow(this)">command</label>
                                        <label> <input type="radio" value="shell" name="module"
                                                       onclick="mTypeShow(this)">shell</label>
                                        <label> <input type="radio" value="script" name="module"
                                                       onclick="mTypeShow(this)">script</label>
                                        <label> <input type="radio" value="service" name="module"
                                                       onclick="mTypeShow(this)">service</label>
                                        <label> <input type="radio" value="yum" name="module"
                                                       onclick="mTypeShow(this)">yum</label>
                                        <label> <input type="radio" value="cron" name="module"
                                                       onclick="mTypeShow(this)">cron</label>
                                        <label> <input type="radio" value="sync" name="module"
                                                       onclick="mTypeShow(this)">sync</label>
                                        <label> <input type="radio" value="custom" name="module"
                                                       onclick="mTypeShow(this)">自定义</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" name="edit_command" id="edit_command" style="display:none;">
                                <label class="col-sm-2 control-label">模块参数</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="command" id="up_command"
                                           placeholder="mkdir /path/to/your/heart" />
                                </div>
                            </div>
                            <div class="form-group" name="edit_shell" id="edit_shell" style="display:none;">
                                <div class="col-sm-5">
                                    <label class="col-sm-3 col-sm-offset-2 control-label">语言</label>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-default" onclick="setAceEditMode('sh')">
                                            <a>Shell</a></button>
                                        <button type="button" class="btn btn-default"
                                                onclick="setAceEditMode('python')"><a>Python</a>
                                        </button>
                                        <button type="button" class="btn btn-default" onclick="setAceEditMode('perl')">
                                            <a>Perl</a></button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-2 control-label">脚本</label>
                                    <div class="col-sm-8">
                                        <select id="up_scriptsFirst" class="selectpicker width100" data-live-search="true">
                                        </select>
                                    </div>
                                </div>
                                <pre id="compile-editor" class="ace_editor col-sm-offset-2"
                                     style="min-height:350px;width:70%"></pre>
                                <div class="col-sm-6 col-sm-offset-2">
                                    <button id="saveScriptsBtn" type="button" class="btn btn-success pull-left">
                                        保存更新</button>
                                </div>
                            </div><!-- shell -->

                            <div class="form-group" name="edit_args" id="edit_args" style="display:none;">
                                <label class="col-sm-2 control-label">模块参数</label>
                                <div class="col-sm-8">
                                    <input type="text" id="up_module_args" name="module_args" class="form-control">
                                </div>
                            </div><!-- args -->
                            <div name="edit_custom" id="edit_custom" style="display:none;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">模块名称</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="up_custom_module" name="custom_module" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">模块参数</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="up_custom_args" name="custom_args" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- playbook -->
                        <div name="m_playbook" id="m_playbook" style="display:none;">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Playbook<span class="red-fonts">*</span></label>
                                <div class="col-sm-4">
                                    <select id="up_playbook" name="playbook" class="selectpicker width100" data-live-search="true">
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                                            data-target="#collapseTwo">
                                        查看内容
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="collapseTwo" class="collapse in">
                                    <div class="modal-body col-sm-offset-1 ">
                                        <div class="column">
                                            <pre id="playbook_editor" class="ace_editor"
                                                 style="min-height:350px;width:80%"></pre>
                                        </div>
                                    </div> <!--modal-body-->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">外部变量</label>
                                <div class="col-sm-5">
                                    <input type="text" id="up_extra_vars" name="extra_vars"
                                           value='{"host": "1.1.1.1", "cmd": "/bin/ls"}' class="form-control">
                                </div>
                            </div>
                        </div> <!--playbook-->

                        <!-- paramiko -->
                        <div class="form-group">
                            <div name="e_paramiko" id="e_paramiko" style="display:none;">
                                <div class="form-group">
                                    <label class="col-sm-5 col-sm-offset-1 control-label"><span class="red-fonts">*</span></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">私密性</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label> <input type="radio" value="true" name="public" checked>公开</label>
                                    <label> <input type="radio" value="false" name="public">私有</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label> <input type="radio" value="true" name="active" checked>可用</label>
                                    <label> <input type="radio" value="false" name="active">不可用</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tags" class="col-md-2 control-label">标签</label>
                            <div class="col-md-6">
                                <select name="tags" data-placeholder="请选择标签" style="width: 100%"
                                        multiple="" tabindex="4" id="up_tags">
                                    {% for tag in tag_list %}
                                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" item="description"
                                       placeholder="该作业用于某某某用途？" name="description" id="up_description"/>
                            </div>
                        </div>
                    </form> <!--form-->
                    <div class="form-group">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="modal_btn">确认</button>
                        </div>
                    </div> <!--button-->
                </div> <!--modal-body-->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="saveScriptsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">请输入详细信息</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
                        <div class="form-group">
                            <label for="scripts_name" class="col-sm-2 control-label">脚本名</label>
                            <div class="col-sm-8">
                                <input id="scripts_name" name="scripts_name" placeholder="check_disk.sh" type="text"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="scripts_path" class="col-sm-2 control-label">保存到</label>
                            <div class="col-sm-8">
                                <select id="scripts_path" name="scripts_path" class="selectpicker form-control"
                                        data-live-search="true">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="saveScriptsBtn2">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

{% endblock content %}

{% block custom_foot_css_js %}
    <script>
        function get_tags() {
            var arrayObj = new Array();
            var items = $("#tags option:selected");
            //此处取到了每个item，items[i].text则取到的是option中的文字，下面取到的是value属性
            for (var i = 0; i < items.length; i++) {
                arrayObj.push(items[i].value);
            }
            return arrayObj
        }
        function get_job_list() {
            //初始化table
            $('#job-list').bootstrapTable('destroy').bootstrapTable({
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                url: "{% url 'job:job-list' %}",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 14,                       //每页的记录行数（*）
                pageList: [20, 30, 50, 100],        //可供选择的每页的行数（*）
                showExport: true,                   //是否显示导出按钮
                exportOptions: {
                    fileName: 'job_list'           //文件名称设置
                },
                search: true,                       //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: true,                  //是否显示父子表
                detailFormatter: function (index, row) {
                    return row.ma.replace(/\n/g, '<br/>')
                },
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                //请求服务数据时所传参数
                queryParams: function (params) {
                    return {
                        search: params.search,
                        exec_type: $("#exec_type").val(),
                        task_type: $("#task_type").val(),
                        tags: get_tags(),
                        public: $("#public").val(),
                        active: $("#active").val()
                    }
                },
                columns: [{
                    title: '名称',
                    field: 'name'
                }, {
                    title: '提交者',
                    field: 'user'
                }, {
                    title: '执行模式',
                    field: 'et'
                }, {
                    title: '作业类型',
                    field: 'tt'
                }, {
                    title: '源文件',
                    field: 'sf',
                    formatter: function (value, row, index) {
                        return substring(value, 20)
                    }
                }, {
                    title: '目的文件',
                    field: 'df',
                    formatter: function (value, row, index) {
                        return substring(value, 20)
                    }
                }, {
                    title: '命令',
                    field: 'cmd'
                }, {
                    title: '目标主机（组）',
                    field: 'host'
                }, {
                    title: 'Hosts文件',
                    field: 'hf'
                }, {
                    title: '模块名',
                    field: 'mn'
                }, {
                    title: '模块参数',
                    field: 'ma',
                    formatter: function (value, row, index) {
                        return substring(value, 30)
                    }
                }, {
                    title: 'Playbook',
                    field: 'pb'
                }, {
                    title: '额外参数',
                    field: 'ea',
                    formatter: function (value, row, index) {
                        return substring(value, 20)
                    }
                }, {
                    title: '公开',
                    field: 'pub'
                }, {
                    title: '可用',
                    field: 'act'
                }, {
                    title: '创建人',
                    field: 'cb'
                }, {
                    title: '创建时间',
                    field: 'cd'
                }, {
                    title: '描述',
                    field: 'desc'
                }, {
                    title: '操作',
                    field: 'id',
                    formatter: function (value, row, index) {
                        {% if perms.auth.perm_dns_zone_edit %}
                            var html = "<button class='btn btn-warning' onclick=\"editFunc(" + row.id + ")\">编辑</button>"
                            html += "<button class='btn btn-danger' onclick=\"delFunc(" + row.id + ")\">删除</button>"
                            return html;
                        {% endif %}
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                    alert("数据加载失败！请检查接口返回信息和错误日志！");
                },
                onSearch: function (e) {
                    //传搜索参数给服务器
                    return {
                        search: e.search
                    }
                },
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    return res;
                }
            });
        }

        $(document).ready(function () {
            get_job_list();
            $("#tags").select2({
                multiple: true,
                width: "200px",
                height: "100%",
                allowClear: true,
                containerCssClass: "myselect"
            });
        });

        //实例变动时刷新表格内容
        $("#exec_type").change(function () {
            get_job_list();
        });
        $("#task_type").change(function () {
            get_job_list();
        });
        $("#public").change(function () {
            get_job_list();
        });
        $("#active").change(function () {
            get_job_list();
        });
        $("#tags").change(function () {
            get_job_list();
        });

        function pTypeShow(o) {
            if (o.value == "paramiko") {
                document.getElementById("e_ansible").style.display = "none";
                document.getElementById("e_paramiko").style.display = "block";
            }
            else {
                document.getElementById("e_ansible").style.display = "block";
                document.getElementById("e_paramiko").style.display = "none";
            }
        }
        function eTypeShow(o) {
            if (o.value == "ad-hoc") {
                document.getElementById("m_ansible").style.display = "block";
                document.getElementById("m_playbook").style.display = "none";
            }
            else {
                document.getElementById("m_ansible").style.display = "none";
                document.getElementById("m_playbook").style.display = "block";
                getPlaybookFile();
                getPlaybookFileCont();
            }
        }
        default_args = {
            'yum': 'name=httpd state=present',
            'script': 'chdir=/opt /testdir/testscript.sh',
            'service': 'name=httpd state=restarted enabled=yes',
            'sync': 'src=/root/a dest=/tmp/ compress=yes rsync_opts="--exclude=.git --exclude=static/image"',
            'cron': 'name="sync time" minute=*/3 hour=* day=* month=* weekday=* job="/usr/sbin/ntpdate window.time.com"'
        };
        function mTypeShow(o) {
            if (o.value == "command") {
                document.getElementById("edit_command").style.display = "block";
                document.getElementById("edit_shell").style.display = "none";
                document.getElementById("edit_args").style.display = "none";
                document.getElementById("edit_custom").style.display = "none";
            } else if (o.value == "shell") {
                document.getElementById("edit_command").style.display = "none";
                document.getElementById("edit_shell").style.display = "block";
                document.getElementById("edit_args").style.display = "none";
                document.getElementById("edit_custom").style.display = "none";
                getScriptsFile('up_scriptsFirst');
                setAceEditMode("sh");
            } else if (o.value == "custom") {
                document.getElementById("edit_command").style.display = "none";
                document.getElementById("edit_shell").style.display = "none";
                document.getElementById("edit_args").style.display = "none";
                document.getElementById("edit_custom").style.display = "block";
            } else {
                document.getElementById("edit_command").style.display = "none";
                document.getElementById("edit_shell").style.display = "none";
                document.getElementById("edit_args").style.display = "block";
                document.getElementById("edit_custom").style.display = "none";
                document.getElementById("up_module_args").value = default_args[o.value];
            }
        }
        function setAceEditMode(model) {
            var editor = ace.edit("compile-editor");
            ace.require("ace/ext/old_ie");
            editor.removeLines();
            editor.setTheme("ace/theme/monokai");
            if (model == 'sh') {
                editor.insert("#!/bin/bash");
            }
            else if (model == 'python') {
                editor.insert("#!/usr/bin/python");
            }
            else if (model == 'perl') {
                editor.insert("#!/usr/bin/perl");
            }
            else {
                editor.insert("#!/bin/bash");
                model = 'sh'
            }
            editor.getSession().setMode("ace/mode/" + model);
            editor.setShowPrintMargin(false);
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });

        }
        function getPlaybookFile() {
            $.ajax({
                async: false,
                type: "get",
                url: "{% url 'job:api-playbook' version='v1' %}",
                dataType: "json",
                complete: function () {
                },
                success: function (data) {
                    $('#up_playbook option').remove();
                    $.each(data, function (index, v) {
                        if (index === 0) {
                            var _html = "<option value='" + v["path"] + "' selected=\"selected\">" + v["name"] + "</option>";
                        } else {
                            var _html = "<option value='" + v["path"] + "' >" + v["name"] + "</option>";
                        }
                        $('#up_playbook').append(_html);
                    });
                    $('#up_playbook').selectpicker('render');
                    $('#up_playbook').selectpicker('refresh');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        function getPlaybookFileCont() {
            var file_path = $('#up_playbook').val();
            // console.log(file_path);
            $.ajax({
                url: "{% url 'job:playbook-file' file='V1' %}".replace('/V1', file_path),
                type: "get",
                success: function (res) {
                    if (res.code == 0) {
                        $('#collapseTwo').collapse('hide');
                        var editor = ace.edit('playbook_editor');
                        editor.setValue(res.result);
                        editor.session.setMode("ace/mode/yaml");
                        editor.setReadOnly(true);
                    } else {
                        toastr.error(res.errmsg);
                    }
                },
                error: function (res) {
                    console.log(res);
                    toastr.error(res);
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
        }
        function getInventoryFile() {
            $.ajax({
                async: false,
                type: "get",
                url: "{% url 'job:api-inventory' version='v1' %}",
                dataType: "json",
                complete: function () {
                },
                success: function (data) {
                    $('#up_inventory option').remove();
                    $.each(data, function (index, v) {
                        if (index === 0) {
                            var _html = "<option value='" + v["path"] + "' selected=\"selected\">" + v["name"] + "</option>";
                        } else {
                            var _html = "<option value='" + v["path"] + "' >" + v["name"] + "</option>";
                        }
                        $('#up_inventory').append(_html);
                    });
                    $('#up_inventory').selectpicker('render');
                    $('#up_inventory').selectpicker('refresh');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        function getInventoryFileCont() {
            var file_path = $('#up_inventory').val();
            // console.log(file_path);
            $.ajax({
                url: "{% url 'job:inventory-file' file='V1' %}".replace('/V1', file_path),
                type: "get",
                success: function (res) {
                    if (res.code == 0) {
                        $('#collapseOne').collapse('hide');
                        var editor = ace.edit('inventory_editor');
                        editor.setValue(res.result);
                        editor.setReadOnly(false);
                    } else {
                        toastr.error(res.errmsg);
                    }
                },
                error: function (res) {
                    console.log(res);
                    toastr.error(res);
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
        }
        function getScriptsFile(id) {
            $.ajax({
                type: "get",
                url: "{% url 'job:api-scripts' version='v1' %}",
                dataType: "json",
                complete: function () {
                },
                success: function (data) {
                    $('#' + id + " option").remove();
                    $.each(data, function (index, v) {
                        var _html = "<option value='" + v["path"] + "' >" + v["name"] + "</option>";
                        $('#' + id).append(_html);
                    });
                    $('#' + id).prepend('<option value="is-empty" disabled selected="selected">请选择脚本</option>');
                    $('#' + id).selectpicker('render');
                    $('#' + id).selectpicker('refresh');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        function getScriptsFileCont(id) {
            var file_path = $('#' + id).val();
            if (file_path) {
                $.ajax({
                    url: "{% url 'job:scripts-file' file='V1' %}".replace('/V1', file_path),
                    type: "get",
                    success: function (res) {
                        if (res.code == 0) {
                            var editor = ace.edit('compile-editor');
                            editor.setValue(res.result);
                        } else {
                            toastr.error(res.errmsg);
                        }
                    },
                    error: function (res) {
                        console.log(res);
                        toastr.error(res);
                    },
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                        }
                    }
                });
            }
        }
        $("#up_inventory").change(function () {
            getInventoryFileCont()
        });
        $("#up_scriptsFirst").change(function () {
            getScriptsFileCont('up_scriptsFirst')
        });
        $("#up_playbook").change(function () {
            getPlaybookFileCont()
        });
        function getScriptsDirectory(id) {
            $.ajax({
                type: "get",
                url: "{% url 'job:api-scripts-dir' version='v1' %}",
                dataType: "json",
                complete: function () {
                },
                success: function (data) {
                    $('#' + id + " option").remove();
                    $.each(data, function (index, v) {
                        var _html = "<option value='" + v["path"] + "' >" + v["name"] + "</option>";
                        $('#' + id).append(_html);
                    });
                    $('#' + id).prepend('<option value="is-empty" disabled selected="selected">请选择目录</option>');
                    $('#' + id).selectpicker('render');
                    $('#' + id).selectpicker('refresh');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        $("#saveInventoryBtn").click(function () {
            var editor = ace.edit('inventory_editor');
            var file_content = editor.getValue();
            var file_path = $('#up_inventory').val();
            var url = "{% url 'job:inventory-file' file='V1' %}".replace('/V1', file_path);
            // console.log(url, file_path);
            $.ajax({
                url: url,
                type: "post",
                data: {"cont": file_content},
                success: function (res) {
                    if (res.code == 0) {
                        toastr.success(res.result);
                    } else {
                        toastr.error(res.errmsg);
                    }
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
        });
        $("#saveScriptsBtn").click(function () {
            getScriptsDirectory('scripts_path');
            $('#saveScriptsModal').modal({});
            $("#saveScriptsBtn2").unbind("click").click(function () {
                if (confirm("注意：是否确认保存？")) {
                    var editor = ace.edit("compile-editor");
                    var file_content = editor.getValue();
                    var file_path = $("#scripts_path").val() + "/" + $("#scripts_name").val();
                    console.log(file_path);
                    var url = "{% url 'job:scripts-file' file='V1' %}".replace('/V1', file_path);
                    $.ajax({
                        url: url,
                        type: "post",
                        data: {"cont": file_content},
                        success: function (res) {
                            if (res.code == 0) {
                                $('#saveScriptsModal').modal('hide');
                                toastr.success(res.result);
                            } else {
                                toastr.error(res.errmsg);
                            }
                        },
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                            }
                        }
                    });
                }
            });
        });

        function editFunc(id) {
            $.ajax({
                url: "{% url 'job:job-detail' %}" + id,
                type: "get",
                success: function (data) {
                    if (data.code == 0) {
                        var data = data['result'];
                        $('#updateModal').modal('show');
                        $("#upid").val(data['id']);
                        $("#up_task_name").val(data['name']);
                        $('#up_host_user').selectpicker('val', data['host_user']);
                        $('#up_host_user').selectpicker('refresh');
                        getInventoryFile();
                        $('#up_inventory').selectpicker('val', data['inventory']);
                        $('#up_inventory').selectpicker('refresh');
                        getInventoryFileCont();
                        $("#up_host").val(data['host']);
                        if (data['exec_type'] == "ad-hoc") {
                            $('#exec1').prop("checked", true);
                            var module_name = data['module_name'] == "raw" ? "command":data['module_name'];
                            $("input[name='module']").each(function () {
                                if ($(this).val() == module_name) {
                                    $(this).prop("checked", true);
                                }
                                if (module_name == "command") {
                                    $('#up_command').val(data['module_args']);
                                    document.getElementById("edit_command").style.display = "block";
                                } else if (module_name == "shell") {
                                    var editor = ace.edit('compile-editor');
                                    editor.setValue(data['module_args']);
                                    document.getElementById("edit_shell").style.display = "block";
                                } else if (module_name == "custom_module") {
                                    $('#up_custom_module').val(data['module_name']);
                                    $('#up_custom_args').val(data['module_args']);
                                    document.getElementById("up_module_args").style.display = "block";
                                } else {
                                    $('#up_module_args').val(data['module_args']);
                                    document.getElementById("up_module_args").style.display = "block";
                                }
                            });
                            getScriptsFile('up_scriptsFirst');
                            document.getElementById("m_ansible").style.display = "block";
                            document.getElementById("m_playbook").style.display = "none";
                        } else if (data['exec_type'] == "playbook") {
                            $('#exec2').prop("checked", true);
                            document.getElementById("m_ansible").style.display = "none";
                            document.getElementById("m_playbook").style.display = "block";
                            getPlaybookFile();
                            $('#up_playbook').selectpicker('val', data['playbook']);
                            $('#up_playbook').selectpicker('refresh');
                            getPlaybookFileCont();
                            $('#up_extra_vars').val(data['extra_vars']);
                            document.getElementById("m_ansible").style.display = "none";
                            document.getElementById("m_playbook").style.display = "block";
                        }
                        var up_tags = $("#up_tags").select2({
                            multiple: true,
                            allowClear: true
                        });
                        up_tags.val(data['tags']).trigger("change");
                        up_tags.change();
                        $("input[name='public']").each(function () {
                            if (data['public']) {
                                if ($(this).val() == "true") {
                                    $(this).prop("checked", true);
                                }
                            } else {
                                if ($(this).val() == "false") {
                                    $(this).prop("checked", true);
                                }
                            }
                        });
                        $("input[name='active']").each(function () {
                            if (data['active']) {
                                if ($(this).val() == "true") {
                                    $(this).prop("checked", true);
                                }
                            } else {
                                if ($(this).val() == "false") {
                                    $(this).prop("checked", true);
                                }
                            }
                        });
                        $("#up_description").val(data['description']);
                    } else {
                        swal("操作失败", data.errmsg, "error");
                    }
                },
                error: function (res) {
                    console.log(res);
                    swal("操作失败", res, "error");
                }
            });
            $("#modal_btn").unbind("click").click(function(){
                if (confirm("注意：是否确认保存？")) {
                    $("#modal_btn").attr("disabled", true);
                    var formData = $('#upForm').serializeArray();
                    var obj = {};
                    for (var i in formData) {
                        if (obj.hasOwnProperty(formData[i].name)) {
                            obj[formData[i].name] = obj[formData[i].name] + "," + formData[i]['value']
                        } else {
                            obj[formData[i].name] = formData[i]['value'];
                        }
                    }
                    var editor = ace.edit("compile-editor");
                    obj["shell"] = editor.getValue();
                    console.log(obj);
                    $.ajax({
                        url: "{% url 'job:job-detail' %}" + $('#upid').val(),
                        type: "put",
                        data: obj,
                        success: function (res) {
                            if (res.code == 0) {
                                toastr.success(res.result);
                            } else {
                                toastr.error(res.errmsg);
                            }
                        },
                        complete: function () {
                            $("#modal_btn").attr("disabled", false);
                            $('#updateModal').modal('hide');
                        },
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                            }
                        }
                    });
                }
            });
        }
        function delFunc(id) {
            swal({
                    title: "是否确认删除？",
                    text: "该记录将无法恢复！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                },
                function () {
                    $.ajax({
                        url: "{% url 'job:job-detail' %}"+ id,
                        type: "delete",
                        data: {},
                        success: function (res) {
                            console.log(res);
                            if (res.code == 0) {
                                swal({
                                    title: "success",
                                    text: res.result,
                                    type: "success",
                                    confirmButtonText: '确定'
                                }, function () {
                                    window.location.reload();
                                });
                            } else {
                                swal("操作失败", res.errmsg, "error");
                            }
                        },
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                            }
                        }
                    });
                });
        }
    </script>
{% endblock %}

