<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>OneOps</title>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    {% include 'head_css_js.html' %}
    {% include 'head_custom_script.html' %}

    {% block custom_head_css_js %} {% endblock %}

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default avbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header" style="width: 184px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">OneOps</a>
            </div>
            {% include 'nav_bar_header.html' %}
        </div>
    </nav>
    {% block custom_nav_bar_left %} {% endblock %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="clearfix">
            <h3>{{ header_title }}</h3>
            <ol class="breadcrumb">
                <li><a href="/">仪表盘</a></li>
                <li>
                    {% if path1 %}<a>{{ path1 }}</a>{% endif %}
                </li>
                {% if path2 %}<li class="active"><strong>{{ path2 }}</strong></li>{% endif %}
            </ol>
            {% block content %} {% endblock content %}
        </div>
    </div>
    <!-- /#page-wrapper -->
    {% block custom_nav_bar_right %} {% endblock %}
</div>
</body>
{% block custom_foot_css_js %} {% endblock %}
<div class="footer fixed">
    <div class="pull-right">
        <strong>Copyright</strong> OneOps Version <strong>1.0.0</strong> GPLv2.
    </div>
</div>
</html>
