{% extends "base.html" %}
{% load workflow %}
{% block custom_nav_bar_left %}
    {% include 'nav_bar_left_workflow.html' %}
{% endblock %}
{% block custom_head_css_js %}
    {% load staticfiles %}
    <link href="{% static 'smart-wizard/css/smart_wizard.min.css' %}" rel="stylesheet">
    <link href="{% static 'smart-wizard/css/smart_wizard_theme_circles.min.css' %}" rel="stylesheet">
    <link href="{% static 'smart-wizard/css/smart_wizard_theme_arrows.min.css' %}" rel="stylesheet">
    <link href="{% static 'smart-wizard/css/smart_wizard_theme_dots.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-multiselect/css/bootstrap-multiselect.css' %}" rel="stylesheet">
    <script src="{% static 'smart-wizard/js/jquery.smartWizard.min.js' %}"></script>
    <script src="{% static 'bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'ace/ace.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="modal fade" id="createModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Ops系统 创建项目</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm" class="form-horizontal nice-validator n-yellow"
                          novalidate="novalidate">
                        <div class="form-group">
                            <label for="createapp_code" class="control-label col-sm-3">项目名：</label>
                            <div class="col-sm-6">
                                <input id="app_code" name="name" placeholder="assetmng" readonly
                                       class="form-control" datatype="*" errormsg="填写错误">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">运行环境：</label>
                            <div class="col-sm-4">
                                <select id="app_type" name="language" class="form-control" readonly>
                                    <option value="WAR">WAR</option>
                                    <option value="JAR">JAR</option>
                                </select>
                            </div>
                        </div> <!--项目类型-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">项目路径：</label>
                            <div class="col-sm-6">
                                <input name="path" class="form-control" placeholder="可不填写"/>
                            </div>
                        </div> <!--项目路径添加-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">项目组: </label>
                            <div class="col-sm-6">
                                <select id="p_group" name="p_group" class="form-control multiselect"
                                        multiple="multiple"></select>
                            </div>
                        </div> <!-- 项目组-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">状态：</label>
                            <div class="col-sm-6">
                                <select name="is_lock" class="form-control">
                                    <option value="0" selected>正常</option>
                                    <option value="1">锁定</option>
                                </select>
                            </div>
                        </div> <!--状态选择-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">备注：</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="comment" name="comment"/>
                            </div>
                        </div> <!--备注-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">部署脚本：</label>
                            <div class="col-sm-6">
                                <input id="p_script" class="form-control" readonly name="script"/>
                            </div>
                        </div> <!--部署脚本-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">TOMCAT目录：</label>
                            <div class="col-sm-6">
                                <input id="p_tomcat" name="tomcat" readonly
                                       class="form-control"/>
                            </div>
                        </div> <!--TOMCAT目录-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">项目包：</label>
                            <div class="col-sm-6">
                                <input id="p_war" name="war" readonly
                                           class="form-control"/>
                            </div>
                        </div> <!--项目包-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">预发组：</label>
                            <div class="col-sm-6">
                                <input id="p_prehost" class="form-control" placeholder="与ansible-hosts对应"
                                          name="prehost"/>
                            </div>
                        </div> <!--预发主机组-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">Beta组：</label>
                            <div class="col-sm-6">
                                <input id="p_host1" class="form-control" placeholder="与ansible-hosts对应"
                                          name="host1"/>
                            </div>
                        </div> <!--主机组1-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">生产组：</label>
                            <div class="col-sm-6">
                                <input id="p_host2" class="form-control" placeholder="与ansible-hosts对应"
                                          name="host2"/>
                            </div>
                        </div> <!--主机组2-->
                        <div class="form-group">
                            <div class="modal-footer">
                                <button class="btn btn-warning" data-dismiss="modal">取消</button>
                                <button class="btn btn-primary" id="createBtn">创建</button>
                            </div>
                        </div>
                    </form>
                </div> <!--modal-body-->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container">
		<h3>{{ wf_type }}：{{ wf_name }}</h3>
		<div id="smartwizard">
            <ul>
                <li><a href="#step-1">一、<br/>
                    <small>开发填写申请单</small>
                </a></li>
                <li><a href="#step-2">二、<br/>
                    <small>运维分配服务器</small>
                </a></li>
                <li><a href="#step-3">三、<br/>
                    <small>开发申请数据库账户</small>
                </a></li>
                <li><a href="#step-4">四、<br/>
                    <small>DBA创建数据库账户</small>
                </a></li>
                <li><a href="#step-5">五、<br/>
                    <small>运维发布上线</small>
                </a></li>
                <li><a href="#step-6">六、<br/>
                    <small>结束</small>
                </a></li>
            </ul>
            <div>
                <div id="step-1" class="col-lg-12">
                </div>
                <div id="step-2" class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            流程详细
                        </div>
                        <div class="panel-body">
                            <pre>{{ content }}</pre>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        {% if current_step != 2 %}
                            <!-- current_step 大于 2，则显示已预分配服务器信息 -->
                            <div class="panel-heading">
                                显示结果
                            </div>
                            <div class="panel-body">
                                {% for fsl in fsl_list %}
                                    {% ifequal fsl.flow_step.step 2 %}
                                        <pre>{{ fsl.reply }}</pre>
                                    {% endifequal %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="panel-heading">
                                创建该应用并预分配服务器
                            </div>
                            <div class="panel-body">
                                <form id="Form2" class="form-horizontal  nice-validator n-yellow"
                                      novalidate="novalidate">
                                    <input type="hidden" name="current_step" value="{{ current_step }}"
                                           class="form-control">
                                    <input type="hidden" name="app_id" value="{{ app_detail.id }}"
                                           class="form-control">
                                    <div class="form-group">
                                        <label for="zone" class="col-sm-2 control-label">编码<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-8">
                                            <input id="addapp_code" name="app_code" type="text" readonly
                                                   value="{{ app_detail.app_code }}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="type" class="col-sm-2 control-label">类型<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-8">
                                            <select id="addapp_type" name="app_type" disabled
                                                    class="dropdown-menu-left selectpicker ">
                                                {% ifequal app_detail.app_type 'jar' %}
                                                    <option value="jar" selected>JAR</option>
                                                    <option value="war">WAR</option>
                                                    {% else %}
                                                    <option value="jar">JAR</option>
                                                    <option value="war" selected>WAR</option>
                                                {% endifequal %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="data" class="col-sm-2 control-label">Tomcat端口<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-8">
                                            <input id="addtomcat_port" name="tomcat_port" readonly
                                                   class="form-control" value="{{ app_detail.tomcat_port }}">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="ttl" class="col-sm-2 control-label">描述</label>
                                        <div class="col-sm-8">
                                            <input id="addcomment" name="comment" readonly
                                                   value="{{ app_detail.comment }}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Prod环境<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="prod_host_all" name="prod_host_all" multiple
                                                        class="form-control m-b" size="6">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-white"
                                                        onclick="move('prod_host_all', 'prod_host')"><i
                                                        class="fa fa-chevron-right"></i></button>
                                                <button type="button" class="btn btn-white"
                                                        onclick="move('prod_host', 'prod_host_all')"><i
                                                        class="fa fa-chevron-left"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="prod_host" name="prod_host" class="form-control m-b"
                                                        size="6" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Beta环境<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="beta_host_all" name="beta_host_all" multiple
                                                        class="form-control m-b" size="3">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-white"
                                                        onclick="move('beta_host_all', 'beta_host')"><i
                                                        class="fa fa-chevron-right"></i></button>
                                                <button type="button" class="btn btn-white"
                                                        onclick="move('beta_host', 'beta_host_all')"><i
                                                        class="fa fa-chevron-left"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="beta_host" name="beta_host" class="form-control m-b"
                                                        size="3" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Pre环境<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="pre_host_all" name="pre_host_all" multiple
                                                        class="form-control m-b" size="3">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-white"
                                                        onclick="move('pre_host_all', 'pre_host')"><i
                                                        class="fa fa-chevron-right"></i></button>
                                                <button type="button" class="btn btn-white"
                                                        onclick="move('pre_host', 'pre_host_all')"><i
                                                        class="fa fa-chevron-left"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="pre_host" name="pre_host" class="form-control m-b"
                                                        size="3" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Test环境<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="test_host_all" name="test_host_all" multiple
                                                        class="form-control m-b" size="5">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-white"
                                                        onclick="move('test_host_all', 'test_host')"><i
                                                        class="fa fa-chevron-right"></i></button>
                                                <button type="button" class="btn btn-white"
                                                        onclick="move('test_host', 'test_host_all')"><i
                                                        class="fa fa-chevron-left"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="test_host" name="test_host" class="form-control m-b"
                                                        size="5" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="modal-footer">
                                            {% if request.user|chk_flow_perm:"app_apply:2" %}
                                                <button type="button" class="btn btn-danger" onclick="stopFunc()">终止流程
                                                </button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" class="btn btn-primary" onclick="doFunc('Form2')">确认
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div> <!--button-->
                                </form> <!--form-->
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="step-3" class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            流程详细
                        </div>
                        <div class="panel-body">
                            <pre>{{ content }}</pre>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        {% if status != 'ongoing' or current_step != 3 %}
                            <div class="panel-heading">
                                显示结果
                            </div>
                            <div class="panel-body">
                                {% for fsl in fsl_list %}
                                    {% ifequal fsl.flow_step.step 3 %}
                                        <pre>{{ fsl.reply }}</pre>
                                    {% endifequal %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="panel-heading">
                                新应用申请上线
                            </div>
                            <div class="panel-body">
                                <form id="Form3" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
                                    <input type="hidden" name="current_step" value="{{ current_step }}"
                                           class="form-control">
                                    <input type="hidden" name="app_id" value="{{ app_detail.id }}"
                                           class="form-control">
                                    <div class="form-group">
                                        <label for="database" class="col-sm-2 control-label">数据库<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-4">
                                            <input id="database" name="database"
                                                   class="form-control" placeholder="请填写数据库名">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <p>发送钉钉通知给DBA，让其添加数据库账户！若项目暂不上线生产，则以后再操作！</p>
                                        <button type="button" class="btn btn-danger" onclick="stopFunc()">取消申请</button>
                                        <button type="button" class="btn btn-primary" onclick="doFunc('Form3')">发送通知
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="step-4" class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            流程详细
                        </div>
                        <div class="panel-body">
                            <pre>{{ content }}</pre>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        {% if status != 'ongoing' or current_step != 4 %}
                            <div class="panel-heading">
                                显示结果
                            </div>
                            <div class="panel-body">
                                {% for fsl in fsl_list %}
                                    {% ifequal fsl.flow_step.step 4 %}
                                        <pre>{{ fsl.reply }}</pre>
                                    {% endifequal %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="panel-heading">
                                新应用数据库账户信息填写
                            </div>
                            <div class="panel-body">
                                <form id="Form4" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
                                    <input type="hidden" name="current_step" value="{{ current_step }}"
                                           class="form-control">
                                    <input type="hidden" name="app_id" value="{{ app_detail.id }}"
                                           class="form-control">
                                    <div class="form-group">
                                        <label for="zone" class="col-sm-2 control-label">编码<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-8">
                                            <input name="app_code" type="text" readonly
                                                   value="{{ app_detail.app_code }}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="data" class="col-sm-2 control-label">Tomcat端口<span
                                                class="red-fonts">*</span></label>
                                        <div class="col-sm-8">
                                            <input name="tomcat_port" readonly
                                                   class="form-control" value="{{ app_detail.tomcat_port }}">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">描述</label>
                                        <div class="col-sm-8">
                                            <input name="comment" readonly
                                                   value="{{ app_detail.comment }}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">数据库IP</label>
                                        <div class="col-sm-8">
                                            <input name="db_hostname" class="form-control"
                                                   datatype="s6-50" errormsg="填写错误">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">数据库端口</label>
                                        <div class="col-sm-8">
                                            <input name="db_port" class="form-control" datatype="n" errormsg="填写错误">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">库名</label>
                                        <div class="col-sm-8">
                                            <input name="db_name" class="form-control" datatype="*" errormsg="填写错误">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">数据库账户</label>
                                        <div class="col-sm-8">
                                            <input name="db_user" class="form-control" datatype="*" errormsg="填写错误">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">数据库密码</label>
                                        <div class="col-sm-8">
                                            <input name="db_password" class="form-control" placeholder="请填写加密后的密码！"
                                                   datatype="*" errormsg="填写错误">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="modal-footer">
                                            {% if request.user|chk_flow_perm:"app_apply:4" %}
                                                <button type="button" class="btn btn-danger" onclick="stopFunc()">终止流程</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="button" class="btn btn-primary" onclick="doFunc('Form4')">确认</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="step-5" class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            流程详细
                        </div>
                        <div class="panel-body">
                            <pre>{{ content }}</pre>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        {% if status != 'ongoing' or current_step != 5 %}
                            <div class="panel-heading">
                                运维发布上线
                            </div>
                            <div class="panel-body">
                                已发布
                            </div>
                        {% else %}
                            <div class="panel-heading">
                                运维发布上线
                            </div>
                            <div class="panel-body">
                                <form id="Form5" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
                                    <input type="hidden" name="current_step" value="{{ current_step }}"
                                           class="form-control">
                                    <input type="hidden" name="app_id" value="{{ app_detail.id }}"
                                           class="form-control">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ansible Hosts</label>
                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-primary" data-toggle="collapse"
                                                    data-target="#collapse1">
                                                查看内容
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="collapse1" class="collapse in">
                                            <div class="modal-body col-sm-offset-1 ">
                                                <div class="column">
                                            <pre id="inventory_editor" class="ace_editor"
                                                 style="min-height:200px;width:80%"></pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ops系统项目</label>
                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-primary" onclick="opsCreate()">点击创建</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="modal-footer">
                                            {% if request.user|chk_flow_perm:"app_apply:5" %}
                                                <button type="button" class="btn btn-danger" onclick="stopFunc()">终止流程</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="button" class="btn btn-primary" onclick="doFunc('Form5')">完成</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="step-6" class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            流程详细
                        </div>
                        <div class="panel-body">
                            <pre>{{ content }}</pre>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            显示结果
                        </div>
                        <div class="panel-body">
                            该工单已结束！
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

{% endblock content %}
{% block custom_foot_css_js %}
    <script>
        //初始化数据
        $(document).ready(function () {
            var status = "{{ status }}";
            var current_step = {{ current_step }};
            var disable_steps = [0, 1, 2, 3, 4, 5];
            disable_steps.splice(1, current_step - 1);
            $('#smartwizard').smartWizard({
                selected: current_step - 1,
                lang: {
                    next: '下一步',
                    previous: '上一步'
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom',      // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right
                    showNextButton: true,           // show/hide a Next button
                    showPreviousButton: true,       // show/hide a Previous button
                    toolbarExtraButtons: []
                },
                disabledSteps: disable_steps,
                theme: 'arrows',
                transitionEffect: 'fade'
            });

            // 获取应用可预分配的服务器

            if (current_step == 2) {
                $.ajax({
                    url: "{% url 'cmdb:api-app-presort-server' version="v1" %}" + {{ app_detail.id }},
                    type: "get",
                    success: function (data) {
                        if (data.code === 0) {
                            $('#prod_host').empty();
                            $('#prod_host_all').empty();
                            $.each(data['result']['prod_host'], function (index, v) {
                                var _html = "<option value='" + v['id'] + "' >" + v['hn'] + "</option>";
                                $('#prod_host_all').append(_html);
                            });
                            $('#beta_host').empty();
                            $('#beta_host_all').empty();
                            $.each(data['result']['beta_host'], function (index, v) {
                                var _html = "<option value='" + v['id'] + "' >" + v['hn'] + "</option>";
                                $('#beta_host_all').append(_html);
                            });
                            $('#pre_host').empty();
                            $('#pre_host_all').empty();
                            $.each(data['result']['pre_host'], function (index, v) {
                                var _html = "<option value='" + v['id'] + "' >" + v['hn'] + "</option>";
                                $('#pre_host_all').append(_html);
                            });
                            $('#test_host').empty();
                            $('#test_host_all').empty();
                            $.each(data['result']['test_host'], function (index, v) {
                                var _html = "<option value='" + v['id'] + "' >" + v['hn'] + "</option>";
                                $('#test_host_all').append(_html);
                            });
                        } else {
                            swal("操作失败", data.errmsg, "error");
                        }
                    },
                    error: function (res) {
                        console.log(res);
                        swal("操作失败", res, "error");
                    }
                });
            } else if (current_step == 5) {
                $('#collapse1').collapse('hide');
                getAnsibleHostsGroup()
            }

        });
        function select_option() {
            $('#prod_host option').each(function () {
                $(this).prop('selected', true)
            });
            $('#beta_host option').each(function () {
                $(this).prop('selected', true)
            });
            $('#pre_host option').each(function () {
                $(this).prop('selected', true)
            });
            $('#test_host option').each(function () {
                $(this).prop('selected', true)
            });
        }
        function stopFunc() {
            if (confirm("确认终止流程？该操作将删除已预分配的应用！")) {
                $.ajax({
                    url: "{% url 'workflow:flow-app-apply-detail' %}" + {{ flow_id }},
                    type: "post",
                    data: {
                        "action": "stop",
                        "current_step": {{ current_step }},
                        "app_id": {{ app_detail.id }}
                    },
                    success: function (res) {
                        if (res.code == 0) {
                            swal({
                                title: "success",
                                text: res.result,
                                type: "success",
                                confirmButtonText: '确定'
                            }, function () {
                                window.location.href = "{% url 'workflow:flow-app-apply-detail' %}" + {{ flow_id }};
                            });
                        } else {
                            swal("操作失败", res.errmsg, "error");
                        }
                    },
                    error: function (res) {
                        console.log(res);
                        swal("操作失败", res, "error");
                    },
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                        }
                    }
                });
            }
        }
        $("#Form4").Validform({
            tiptype: 3
        });
        function doFunc(formName) {
            if (formName === 'Form2') {
                if (confirm("是否已确认预分配主机 填写正确？")) {
                    select_option();
                } else {
                    return false;
                }
            } else if (formName === 'Form3') {
                if (confirm("注意：应用是否立即申请上线？该操作会通知DBA创建数据库账户！") === false) {
                    return false;
                }
            } else if (formName === 'Form4') {
                if (confirm("是否确认数据库账户、加密的密码 填写正确？") === false) {
                    return false;
                }
            }
            var data = $('#' + formName).serialize();
            $.ajax({
                url: "{% url 'workflow:flow-app-apply-detail' %}" + {{ flow_id }},
                type: "post",
                data: data,
                success: function (res) {
                    if (res.code == 0) {
                        swal({
                            title: "success",
                            text: res.result,
                            type: "success",
                            confirmButtonText: '确定'
                        }, function () {
                            window.location.href = "{% url 'workflow:flow-app-apply-detail' %}" + {{ flow_id }};
                        });
                    } else {
                        swal("操作失败", res.errmsg, "error");
                    }
                },
                error: function (res) {
                    console.log(res);
                    swal("操作失败", res, "error");
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                    }
                }
            });
            return false;
        }
        function getAnsibleHostsGroup() {
            $.ajax({
                url: "{% url 'workflow:api-ansible-hosts-group-init' version='v1' %}" + {{ flow_id }},
                type: "get",
                success: function (res) {
                    var editor = ace.edit('inventory_editor');
                    if (res.code == 0) {
                        editor.setValue(res.result);
                    } else {
                        editor.setValue(res.errmsg);
                    }
                    editor.session.setMode("ace/mode/yaml");
                    editor.setReadOnly(true);
                },
                error: function (res) {
                    console.log(res);
                    swal("调用ansible hosts group 接口失败！", res, "error");
                }
            });
        }
        function opsCreate() {
            $.ajax({
                url: "{% url 'workflow:api-ops-project-create' version='v1' %}" + {{ flow_id }},
                type: "get",
                success: function (res) {
                    if (res.code == 0) {
                        var data = res.result;
                        $("#app_code").val(data['app_code']);
                        $("#app_type").val(data['app_type']);
                        $("#comment").val(data['comment']);
                        $("#p_script").val(data['p_script']);
                        $("#p_tomcat").val(data['p_tomcat']);
                        $("#p_war").val(data['p_war']);
                        $("#p_prehost").val(data['p_prehost']);
                        $("#p_host1").val(data['p_host1']);
                        $("#p_host2").val(data['p_host2']);
                    } else {
                        swal("获取应用信息失败", res.errmsg, "error");
                    }
                },
                error: function (res) {
                    console.log(res);
                    swal("获取应用信息失败", res, "error");
                }
            });
            $.ajax({
                url: "{% url 'workflow:api-ops-role-list' version='v1' %}",
                type: "get",
                success: function (res) {
                    var data = JSON.parse(res['result'])
                    if (data['code'] == 0) {
                        $.each(data.result, function (k, v) {
                            var _html = '<option value="' + v['id'] + '">' + v['name'] + '</option>';
                            $("#p_group").append(_html)
                        })
                        $("#p_group").multiselect({maxHeight:200, enableCaseInsensitiveFiltering: true})
                        $("#p_group").multiselect('refresh')
                    } else {
                        swal("获取组/角色列表失败", data['errmsg'], "error")
                    }
                },
                error: function (res) {
                    console.log(res);
                    swal("获取应用信息失败", res, "error");
                }
            });
            $('#createModal').modal('show');
            $("#createBtn").unbind("click").click(function(){
                if (confirm("是否要去Ops创建项目？")) {
                    var data = $('#addForm').serialize();
                    $.ajax({
                        url: "{% url 'workflow:api-ops-project-create' version='v1' %}" + {{ flow_id }},
                        type: "post",
                        data: data,
                        success: function (res) {
                            if (res.code == 0) {
                                swal({
                                    title: "success",
                                    text: res.result,
                                    type: "success",
                                    confirmButtonText: '确定'
                                }, function () {
                                    $('#createModal').modal('hide');
                                });
                            } else {
                                swal("操作失败", res.errmsg, "error");
                            }
                        },
                        error: function (res) {
                            console.log(res);
                            swal("操作失败", res, "error");
                        },
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
                            }
                        }
                    });
                }
            });
        }
        function move(from, to, from_o, to_o) {
            $("#" + from + " option").each(function () {
                if ($(this).prop("selected") == true) {
                    $("#" + to).append(this);
                    if (typeof from_o !== 'undefined') {
                        $("#" + to_o).append($("#" + from_o + " option[value='" + this.value + "']"));
                    }
                }
            });
        }
    </script>
{% endblock %}
