{% extends "base.html" %}
{% block custom_nav_bar_left %}
    {% include 'nav_bar_left_workflow.html' %}
{% endblock %}
{% block content %}
    <!-- 自定义操作按钮-->
    <div id="toolbar" class="form-inline">
        <div class="form-group bootstrap-select ">
            <select id="wf_type" class="dropdown-menu-right selectpicker" data-live-search="true">
                <option value="" selected="selected">类型</option>
                <option value="prod">正式环境变更</option>
                <option value="test">测试环境变更</option>
                <option value="apply">资源申请</option>
                <option value="ops">运维专用</option>
            </select>
        </div>
        <div class="form-group bootstrap-select ">
            <select id="wf_id" class="dropdown-menu-right selectpicker" data-live-search="true">
                <option value="" selected="selected">流程</option>
                {% for wf in workflow_list %}
                    <option value="{{ wf.id }}">{{ wf.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group bootstrap-select ">
            <select id="status" class="dropdown-menu-right selectpicker" data-live-search="true">
                <option value="" selected="selected">状态</option>
                <option value="pending">待处理</option>
                <option value="ongoing">处理中</option>
                <option value="cancel">主动取消</option>
                <option value="rejected">已被拒绝</option>
                <option value="end">已结束</option>
            </select>
        </div>
    </div>
    <!-- 列表的表格-->
    <div class="table-responsive">
        <table id="name-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>

{% endblock content %}
{% block custom_foot_css_js %}
    {% load staticfiles %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>

    <script>
        //获取列表
        function get_name_list() {
            // 采取异步请求
            // 初始化table
            $('#name-list').bootstrapTable('destroy').bootstrapTable({
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                url: "{% url 'workflow:total-list' %}",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "desc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 14,                       //每页的记录行数（*）
                pageList: [20, 30, 50, 100],        //可供选择的每页的行数（*）
                showExport: true,                   //是否显示导出按钮
                exportOptions: {
                    fileName: 'flow_total_list'       //文件名称设置
                },
                search: true,                       //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: true,                  //是否显示父子表
                detailFormatter: function (index, row) {
                    return row.extra_args.replace(/\n/g, '<br/>')
                },
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                columns: [{
                    title: '流程名',
                    field: 'wf_name',
                    sortable: true
                }, {
                    title: '类型',
                    field: 'wf_type',
                    sortable: true
                }, {
                    title: '流程内容',
                    field: 'content',
                    formatter: function (value, row, index) {
                        return substring(value, 45)
                    }
                }, {
                    title: '申请人',
                    field: 'applicant',
                    sortable: true
                }, {
                    title: '申请理由',
                    field: 'reason'
                }, {
                    title: '申请时间',
                    field: 'create_time'
                },  {
                    title: '操作',
                    field: 'detail_uri',
                    formatter: function (value, row, index) {
                        if (row.status === 'pending') {
                            return "<a class='btn btn-warning' href='" + value + "'>" + row.status_display + "</a>";
                        } else if (row.status === 'ongoing') {
                            return "<a class='btn btn-primary' href='" + value + "'>" + row.status_display + "</a>";
                        } else if (row.status === 'cancel') {
                            return "<a class='btn btn-info' href='" + value + "'>" + row.status_display + "</a>";
                        } else if (row.status === 'rejected') {
                            return "<a class='btn btn-danger' href='" + value + "'>" + row.status_display + "</a>";
                        } else {
                            return "<a class='btn btn-success' href='" + value + "'>" + row.status_display + "</a>";
                        }
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                    alert("数据加载失败！请检查接口返回信息和错误日志！");
                },
                queryParams: function (params) {
                    return {
                        wf_type: $("#wf_type").val(),
                        wf_id: $("#wf_id").val(),
                        status: $("#status").val(),
                        limit: params.limit,
                        offset: params.offset,
                        sortName: params.sort,
                        sortOrder: params.order,
                        search: params.search
                    }
                },
                onSearch: function (params) {
                    //传搜索参数给服务器
                    return {
                        search: params.search
                    }
                },
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    return res;
                }
            });

        }

        //域名类型筛选变动自动刷新
        $("#wf_type").change(function () {
            get_name_list();
        });

        //初始化数据
        $(document).ready(function () {
            get_name_list();
        });
    </script>
{% endblock %}
